textarea{
    width: 80%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
   
}
#count{
    margin-top: 20px;
    font-size: 16px;
}
#warning{
    font-size: 16px;
    color: red;
}